{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://fastly.jsdelivr.net/npm/bulma-checkradio@2.1.3/dist/css/bulma-checkradio.min.css">
{% endblock %}
{% block page_content %}
    {% include "meeting_planner/nav.html" %}
    <section class="section">
        <div class="container">
            {% include "messages.html" %}
            <h1 class="title has-text-centered">รายละเอียดผลสำรวจวันประชุม</h1>
            <p class="subtitle is-5 has-text-grey has-text-centered">
                หัวข้อ: <strong class="has-text-link">{{ poll.poll_name }}</strong>
            </p>
            <div class="columns is-variable is-6">
                <div class="column is-7 box">
                    <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <h1 class="title is-4 mt-2">
                            <span class="icon has-text-info"><i class="far fa-calendar"></i></span>
                            <span>เลือกวัน-เวลาที่สะดวก</span>
                        </h1>
                        <div class="columns mb-5">
                            <div class="column">
                                <div class="notification is-light py-3 px-4 is-rounded">
                                    <p class="is-size-7 has-text-grey">เริ่มสำรวจ</p>
                                    <p><strong>{{ poll.start_vote|localdatetime }}</strong></p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="notification is-light py-3 px-4 is-rounded">
                                    <p class="is-size-7 has-text-grey">ปิดสำรวจ</p>
                                    <p><strong>{{ poll.close_vote|localdatetime }}</strong></p>
                                </div>
                            </div>
                        </div>
                        {% for item in poll.poll_items %}
                            <div class="box">
                                <input class="is-checkradio" id="{{ item.id }}" type="checkbox" name="check_vote" value="{{ item.id }}"
                                        {% if item.voters.filter_by(poll_participant_id=poll_participant_id).first() %}
                                       checked
                                        {% endif %}
                                >
                                <label for="{{ item.id }}">
                                    {% if item.start|localdate != item.end|localdate %}
                                        <strong>{{ item.start|localdate }} - {{ item.end|localdate }}</strong>
                                    {% else %}
                                        <strong>{{ item.start|localdate }}</strong>
                                    {% endif %}
                                    <br>
                                    {{ item.start|localtime }} - {{ item.end|localtime }}
                                </label>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="columns mb-1">
                            <div class="column">
                                <div class="field">
                                    <label class="label">รายชื่อผู้เข้าร่วม</label>
                                    <div class="control">
                                        {% for p in poll.participants %}
                                            <span class="tag is-info is-light is-size-6 mb-2">
                                                {{ p.fullname }}
                                            </span>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <a href="{{ url_for('meeting_planner.list_poll_participant', tab=tab) }}" class="button">
                                    Cancel
                                </a>
                            </div>
                            <div class="control">
                                <input type="submit" value="Submit" class="button is-success">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="column is-5 box ml-5">
                    <h1 class="title ">ผลสำรวจวัน-เวลาประชุม</h1>#}
                </div>
{#                    <div class="column is-12 box">#}
{#                        <div class="columns is-vcentered">#}
{#                            <div class="column has-text-left">#}
{#                                <h1 class="title">ผลสำรวจวัน-เวลาประชุม</h1>#}
{#                            </div>#}
{#                            <div class="column has-text-right">#}
{#                                <h1 class="title">Voted {{ voted|length }}/{{ poll.participants|length }} persons</h1>#}
{#                            </div>#}
{#                        </div>#}
{#                        {% for item in poll.poll_items %}#}
{#                            <span>#}
{#                                {{ loop.index }}. {{ item.start|localdatetime }} - {{ item.end|localdatetime }}#}
{#                            </span>#}
{#                            <span style="float:right">จำนวนผู้สำรวจ {{ item.voters.count() }}</span>#}
{#                            <progress class="progress is-success" value="{{ item.voters.count() }}"#}
{#                                      max="{{ poll.participants|length }}">#}
{#                            </progress>#}
{#                        {% endfor %}#}
{#                    </div>#}
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            document.body.addEventListener('htmx:configRequest', function (evt) {
                evt.detail.headers['X-CSRF-Token'] = {{ csrf_token()|tojson|safe }};
            });
        })
    </script>
{% endblock %}